In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
heart = pd.read_csv("./heart_disease_dataset.csv")
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [3]:
heart.isnull().any()

age         False
sex         False
cp          False
trestbps    False
chol        False
fbs         False
restecg     False
thalach     False
exang       False
oldpeak     False
slope       False
ca          False
thal        False
num         False
dtype: bool

heart.duplicated().any()

In [4]:
heart.duplicated().any()

False

In [5]:
heart.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,-1319.468647,-655.363036,0.458746
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,11432.566205,8111.366638,0.499120
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,-100000.000000,-100000.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,7.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,1.000000

In [6]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
num         303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [7]:
heart.ca.unique()

array([      0,       3,       2,       1, -100000], dtype=int64)

In [8]:
heart.ca.value_counts()

 0         176
 1          65
 2          38
 3          20
-100000      4
Name: ca, dtype: int64

In [9]:
heart.loc[heart["ca"] == -100000, "ca"] = 2

In [10]:
heart.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.689769,-655.363036,0.458746
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.943500,8111.366638,0.499120
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,-100000.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,7.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,1.000000

In [11]:
heart.thal.value_counts()

 3         166
 7         117
 6          18
-100000      2
Name: thal, dtype: int64

In [12]:
heart.loc[heart["thal"] == -100000, "thal"] = 6

In [13]:
heart.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.689769,4.742574,0.458746
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.943500,1.935996,0.499120
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,7.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,1.000000

### Extracting the matrix of features

In [14]:
# X = heart.drop("num")
# y = heart["num"].value
# heart.columns[0:-1]
X = heart[heart.columns[0:-1]].values
y = heart["num"].values

In [15]:
print(X.shape, y.shape)

(303, 13) (303,)

### Performing feature scaling on X

In [16]:
from sklearn.preprocessing import StandardScaler

sc_X = StandardScaler()
X = sc_X.fit_transform(X)

### Doing the train test split

In [17]:
y = np.reshape(y, (-1,1))

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=21)

In [29]:
y.shape

(303, 1)

### The classification model

In [19]:
from keras.layers import Dense, Dropout
from keras.models import Sequential

Using Theano backend.
WARNING (theano.configdefaults): g++ not available, if using conda: `conda install m2w64-toolchain`
C:\Users\NATH\Anaconda3\lib\site-packages\theano\configdefaults.py:560: UserWarning: DeprecationWarning: there is no c++ compiler.This is deprecated and with Theano 0.11 a c++ compiler will be mandatory
  warnings.warn("DeprecationWarning: there is no c++ compiler."
WARNING (theano.configdefaults): g++ not detected ! Theano will be unable to execute optimized C-implementations (for both CPU and GPU) and will default to Python implementations. Performance will be severely degraded. To remove this warning, set Theano flags cxx to an empty string.
WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

In [20]:
#getting the number of feature columns
n_cols = X.shape[1]



# model building start
model = Sequential()

# you only specify the input shape of the 1st perceptron for it to know the number of features to expect 
# subsequent perceptrons calculate their input_shape based on the number of units of the previous perceptron
model.add(Dense(100, activation="relu", input_shape=(n_cols, )))
model.add(Dropout(0.2))
model.add(Dense(100, activation="relu"))
model.add(Dropout(0.2))
model.add(Dense(100, activation="relu"))
model.add(Dense(1, activation="sigmoid"))

### compiling the model

In [21]:
# investigate the different optimers and loss functions and their meanings
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

### Fitting the model

In [22]:
model.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
242/242 [==============================] - 25s 105ms/step - loss: 0.6613 - acc: 0.6529
Epoch 2/100
242/242 [==============================] - 26s 108ms/step - loss: 0.5476 - acc: 0.8140
Epoch 3/100
242/242 [==============================] - 26s 108ms/step - loss: 0.4345 - acc: 0.8388
Epoch 4/100
242/242 [==============================] - 25s 104ms/step - loss: 0.3743 - acc: 0.8264
Epoch 5/100
242/242 [==============================] - 26s 109ms/step - loss: 0.3578 - acc: 0.8347
Epoch 6/100
242/242 [==============================] - 27s 110ms/step - loss: 0.3202 - acc: 0.8636
Epoch 7/100
242/242 [==============================] - 26s 106ms/step - loss: 0.3151 - acc: 0.8430
Epoch 8/100
242/242 [==============================] - 26s 109ms/step - loss: 0.2967 - acc: 0.8760
Epoch 9/100
242/242 [==============================] - 26s 106ms/step - loss: 0.2989 - acc: 0.8678
Epoch 10/100
242/242 [==============================] - 28s 115ms/step - loss: 0.2622 - acc: 0.8843
Epoch 11/100
242/242 [==============================] - 27s 112ms/step - loss: 0.2560 - acc: 0.8884
Epoch 12/100
242/242 [==============================] - 25s 103ms/step - loss: 0.2609 - acc: 0.8843
Epoch 13/100
242/242 [==============================] - 26s 105ms/step - loss: 0.2775 - acc: 0.8884
Epoch 14/100
242/242 [==============================] - 25s 105ms/step - loss: 0.2685 - acc: 0.8554
Epoch 15/100
242/242 [==============================] - 26s 106ms/step - loss: 0.2262 - acc: 0.9132
Epoch 16/100
242/242 [==============================] - 26s 107ms/step - loss: 0.2559 - acc: 0.8802
Epoch 17/100
242/242 [==============================] - 26s 106ms/step - loss: 0.2469 - acc: 0.8926
Epoch 18/100
242/242 [==============================] - 25s 103ms/step - loss: 0.2228 - acc: 0.9050
Epoch 19/100
242/242 [==============================] - 25s 105ms/step - loss: 0.2426 - acc: 0.8802
Epoch 20/100
242/242 [==============================] - 25s 105ms/step - loss: 0.2121 - acc: 0.9174
Epoch 21/100
242/242 [==============================] - 25s 105ms/step - loss: 0.1915 - acc: 0.9298
Epoch 22/100
242/242 [==============================] - 25s 103ms/step - loss: 0.1832 - acc: 0.9132
Epoch 23/100
242/242 [==============================] - 25s 105ms/step - loss: 0.1585 - acc: 0.9380
Epoch 24/100
242/242 [==============================] - 24s 101ms/step - loss: 0.1504 - acc: 0.9504
Epoch 25/100
242/242 [==============================] - 25s 105ms/step - loss: 0.1624 - acc: 0.9339
Epoch 26/100
242/242 [==============================] - 25s 105ms/step - loss: 0.1551 - acc: 0.9421
Epoch 27/100
242/242 [==============================] - 26s 106ms/step - loss: 0.1636 - acc: 0.9421
Epoch 28/100
242/242 [==============================] - 25s 105ms/step - loss: 0.1335 - acc: 0.9545
Epoch 29/100
242/242 [==============================] - 25s 105ms/step - loss: 0.1597 - acc: 0.9463
Epoch 30/100
242/242 [==============================] - 26s 109ms/step - loss: 0.1929 - acc: 0.9256
Epoch 31/100
242/242 [==============================] - 27s 113ms/step - loss: 0.1511 - acc: 0.9504
Epoch 32/100
242/242 [==============================] - 23s 96ms/step - loss: 0.1519 - acc: 0.9421
Epoch 33/100
242/242 [==============================] - 23s 96ms/step - loss: 0.1213 - acc: 0.9504
Epoch 34/100
242/242 [==============================] - 25s 104ms/step - loss: 0.1209 - acc: 0.9587
Epoch 35/100
242/242 [==============================] - 23s 95ms/step - loss: 0.1047 - acc: 0.9669
Epoch 36/100
242/242 [==============================] - 23s 97ms/step - loss: 0.1046 - acc: 0.9545
Epoch 37/100
242/242 [==============================] - 23s 95ms/step - loss: 0.1048 - acc: 0.9628
Epoch 38/100
242/242 [==============================] - 23s 95ms/step - loss: 0.1336 - acc: 0.9463
Epoch 39/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0734 - acc: 0.9711
Epoch 40/100
242/242 [==============================] - 23s 95ms/step - loss: 0.1098 - acc: 0.9628
Epoch 41/100
242/242 [==============================] - 24s 98ms/step - loss: 0.0730 - acc: 0.9835
Epoch 42/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0671 - acc: 0.9669
Epoch 43/100
242/242 [==============================] - 23s 95ms/step - loss: 0.1066 - acc: 0.9711
Epoch 44/100
242/242 [==============================] - 23s 94ms/step - loss: 0.1107 - acc: 0.9669
Epoch 45/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0753 - acc: 0.9793
Epoch 46/100
242/242 [==============================] - 24s 98ms/step - loss: 0.1075 - acc: 0.9587
Epoch 47/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0820 - acc: 0.9711
Epoch 48/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0558 - acc: 0.9876
Epoch 49/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0620 - acc: 0.9876
Epoch 50/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0672 - acc: 0.9711
Epoch 51/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0595 - acc: 0.9793
Epoch 52/100
242/242 [==============================] - 24s 97ms/step - loss: 0.0781 - acc: 0.9711
Epoch 53/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0730 - acc: 0.9752
Epoch 54/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0599 - acc: 0.9711
Epoch 55/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0772 - acc: 0.9669
Epoch 56/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0724 - acc: 0.9835
Epoch 57/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0631 - acc: 0.9793
Epoch 58/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0669 - acc: 0.9752
Epoch 59/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0542 - acc: 0.9835
Epoch 60/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0840 - acc: 0.9587
Epoch 61/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0804 - acc: 0.9711
Epoch 62/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0768 - acc: 0.9752
Epoch 63/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0342 - acc: 0.9917
Epoch 64/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0565 - acc: 0.9835
Epoch 65/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0461 - acc: 0.9835
Epoch 66/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0591 - acc: 0.9835
Epoch 67/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0317 - acc: 1.0000
Epoch 68/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0418 - acc: 0.9876
Epoch 69/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0351 - acc: 0.9876
Epoch 70/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0354 - acc: 0.9959
Epoch 71/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0248 - acc: 0.9917
Epoch 72/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0309 - acc: 0.9959
Epoch 73/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0420 - acc: 0.9876
Epoch 74/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0378 - acc: 0.9752
Epoch 75/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0318 - acc: 0.9876
Epoch 76/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0508 - acc: 0.9793
Epoch 77/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0481 - acc: 0.9876
Epoch 78/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0417 - acc: 0.9876
Epoch 79/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0470 - acc: 0.9835
Epoch 80/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0490 - acc: 0.9711
Epoch 81/100
242/242 [==============================] - 23s 93ms/step - loss: 0.0309 - acc: 0.9917
Epoch 82/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0344 - acc: 0.9917
Epoch 83/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0383 - acc: 0.9835
Epoch 84/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0277 - acc: 0.9876
Epoch 85/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0490 - acc: 0.9876
Epoch 86/100
242/242 [==============================] - 23s 93ms/step - loss: 0.0124 - acc: 1.0000
Epoch 87/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0474 - acc: 0.9835
Epoch 88/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0307 - acc: 0.9876
Epoch 89/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0382 - acc: 0.9876
Epoch 90/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0541 - acc: 0.9793
Epoch 91/100
242/242 [==============================] - 23s 93ms/step - loss: 0.0439 - acc: 0.9876
Epoch 92/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0257 - acc: 0.9876
Epoch 93/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0171 - acc: 1.0000
Epoch 94/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0757 - acc: 0.9628
Epoch 95/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0251 - acc: 0.9917
Epoch 96/100
242/242 [==============================] - 23s 96ms/step - loss: 0.0264 - acc: 0.9917
Epoch 97/100
242/242 [==============================] - 23s 95ms/step - loss: 0.0571 - acc: 0.9711
Epoch 98/100
242/242 [==============================] - 24s 97ms/step - loss: 0.0281 - acc: 0.9917
Epoch 99/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0288 - acc: 0.9876
Epoch 100/100
242/242 [==============================] - 23s 94ms/step - loss: 0.0150 - acc: 0.9959

In [30]:
#using the model
predictions = model.predict_classes(X_test)

### Assessing the model

In [23]:
#Analyze these codes well to get meaning
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [32]:

print(classification_report(y_test,predictions))
print(confusion_matrix(y_test,predictions))

              precision    recall  f1-score   support

           0       0.77      0.86      0.81        28
           1       0.87      0.79      0.83        33

   micro avg       0.82      0.82      0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

[[24  4]
 [ 7 26]]